@using Sitecore.Feature.Accounts
@*@using Sitecore.Feature.Accounts.Services*@
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration

@model IEnumerable<Sitecore.Data.SignInUrlInfo>

@{ 
    string Title = "DGA Identity Server";
}

@foreach (var signIn in Model)
{
    using (Html.BeginForm(null, null, FormMethod.Post, new { @action = signIn.Href }))
    {
        <button type="submit">
            <img src="@signIn.Icon" />
            @*@signIn.Caption*@
            @Title

        </button>
    }
}
