<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:set="http://www.sitecore.net/xmlconfig/set/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:security="http://www.sitecore.net/xmlconfig/security/">
  <sitecore role:require="Standalone or ContentDelivery or ContentManagement">
    <!-- These are our custom settings -->
    <settings>
      <setting name="DGA.Auth.Is4.ClientId" value="DGAWebSite_Code" />
      <setting name="DGA.Auth.Is4.Authority" value="https://dgaidentitysolutionqa.dga.org" />
        <setting name="DGA.Auth.Is4.ClientSecret" value="ne9Fhu^qhy+zq5|Is0C#1RnvrWP7%:wc+sJcW!|60~vHQ6s8!Ww$@/li6Q/#|YwM" />
      <setting name="DGA.Auth.Is4.RedirectUri" value="https://debusc.dev.local/signin-oidc" />
      <setting name="DGA.Auth.Is4.PostLogoutRedirectUri" value="https://debusc.dev.local/signout-callback-oidc" />
        <setting name="DGA.Auth.Is4.GrantType" value="id_token" />
    </settings>

    <pipelines>
      <owin.identityProviders>
        <!-- Here we define our provider processor pipeline -->
        <processor type="DGAIdentityLogin.Pipelines.Is4ProviderProcessor, Sitecore.Feature.IdentityLogin" resolve="true">
          <scopes hint="list">
            <!-- These are the scopes requested from IdentityServer4 -->
            <scope name="openid">openid</scope>
            <scope name="profile">profile</scope>
            <scope name="email">email</scope>
              <scope name="is_member_in_good_standing">is_member_in_good_standing</scope>
              <scope name="roles">roles</scope>
          </scopes>
        </processor>
      </owin.identityProviders>

        <!--<httpRequestProcessed>
            <processor patch:after="*[@type='Sitecore.Analytics.Pipelines.HttpRequest.EndAnalytics, Sitecore.Analytics']" type="DGAIdentityLogin.Pipelines.SecuredPage, Sitecore.Feature.IdentityLogin"/>
        </httpRequestProcessed>-->
        
    </pipelines>

    <federatedAuthentication
        type="Sitecore.Owin.Authentication.Configuration.FederatedAuthenticationConfiguration, Sitecore.Owin.Authentication">
      <identityProvidersPerSites hint="list:AddIdentityProvidersPerSites">
        <!-- This mapEntry is specific for our public website-->
        <mapEntry name="Public website"
                  type="Sitecore.Owin.Authentication.Collections.IdentityProvidersPerSitesMapEntry, Sitecore.Owin.Authentication"
                  resolve="true">
          <sites hint="list">
            <!-- Change it if you have a different name for the site in your <site name=""...> definition -->
            <site>website</site>
          </sites>

          <identityProviders hint="list:AddIdentityProvider">
            <!-- This points to our custom IdentityServer4 "IS4" provider defined in the identityProviders section -->
            <identityProvider ref="federatedAuthentication/identityProviders/identityProvider[@id='IS4']" />
          </identityProviders>

          <!-- We are using our custom user builder to use the email address as the username -->
          <!-- Also we are setting isPersistentUser to false, so no new users are persisted in Sitecore -->
          <!--<externalUserBuilder type="Sitecore.Feature.IdentityLogin.User.CustomUserBuilder, Sitecore.Feature.IdentityLogin" resolve="true">
            <param desc="isPersistentUser">true</param>
          </externalUserBuilder>-->

            <externalUserBuilder type="Sitecore.Owin.Authentication.Services.DefaultExternalUserBuilder, Sitecore.Owin.Authentication"
                                 resolve="true">
                <param desc="isPersistentUser">true</param>
            </externalUserBuilder>
            
        </mapEntry>
      </identityProvidersPerSites>

      <identityProviders hint="list:AddIdentityProvider">
        <!-- External identity provider configuration -->
        <identityProvider id="IS4"
                          type="Sitecore.Owin.Authentication.Configuration.DefaultIdentityProvider, Sitecore.Owin.Authentication">
          <param desc="name">$(id)</param>
          <param desc="domainManager" type="Sitecore.Abstractions.BaseDomainManager" resolve="true" />
          <caption>Log in with DGA Identity Server</caption>
          <!-- Make sure your icon file exists in your filesystem -->
          <icon>/Assets/icons/is4.ico</icon>
          <domain>extranet</domain>
            
          <!-- The following setting is very important, it triggers logout in IdentityServer4 -->
          <triggerExternalSignOut>true</triggerExternalSignOut>
        </identityProvider>
      </identityProviders>

        <!--<ClaimsTransformations>
            <ClaimsTransformation1 type="Sitecore.Plugin.IdentityProviders.DefaultClaimsTransformation, Sitecore.Plugin.IdentityProviders">
                <SourceClaims>
                    <Claim1 type="roles" value="Member" />
                </SourceClaims>
                <NewClaims>
                    <Claim1 type="role" value="take2\Members" />
                </NewClaims>
            </ClaimsTransformation1>            
        </ClaimsTransformations>-->

        <!--<ClaimsTransformations>
            <ClaimsTransformation Id="CopyEmailAddress" TransformationMethod="CopyClaim">
                <InputClaims>
                    <InputClaim ClaimTypeReferenceId="externalEmail" TransformationClaimType="inputClaim"/>
                </InputClaims>
                <OutputClaims>
                    <OutputClaim ClaimTypeReferenceId="email" TransformationClaimType="outputClaim"/>
                </OutputClaims>
            </ClaimsTransformation>
        </ClaimsTransformations>-->
        

      <!-- General profile property mappings from the IdentityServer4 claims -->
      <propertyInitializer type="Sitecore.Owin.Authentication.Services.PropertyInitializer, Sitecore.Owin.Authentication">
        <maps hint="list">
          <map name="Name to FullName"
               type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication"
               resolve="true">
            <data hint="raw:AddData">
              <source name="name" />
              <target name="FullName" />
            </data>
          </map>
          <map name="Emailaddress to Email"
               type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication"
               resolve="true">
            <data hint="raw:AddData">
              <source name="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress" />
                <!--<source name="email" />-->
              <target name="Email" />
            </data>
          </map>
          <map name="Comment"
               type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication"
               resolve="true">
            <data hint="raw:AddData">
              <source name="idp" />
              <target name="Comment" />
            </data>
          </map>
            
            <!--<map name="Roles"
                type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication"
                resolve="true">
                <data hint="raw:AddData">
                    <source name="role" />
                    <target name="Role" />
                </data>
            </map>-->
            
        </maps>
      </propertyInitializer>
    </federatedAuthentication>
      <sites>
          <site name="website">
              <patch:attribute name="loginPage">/sitecore/content/Home/IdentityLogin</patch:attribute>
          </site>
      </sites>
  </sitecore>
</configuration>