<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <!--<pipelines>
            <httpRequestProcessed>
                <processor patch:after="*[@type='Sitecore.Analytics.Pipelines.HttpRequest.EndAnalytics, Sitecore.Analytics']" type="Sitecore.Feature.Accounts.Infrastructure.Pipelines.SecuredPage, Sitecore.Feature.Accounts"/>
            </httpRequestProcessed>
        </pipelines>-->
        <sites>
            <site name="website">
                <patch:attribute name="loginPage">/sitecore/content/Home/Login</patch:attribute>
            </site>
        </sites>
        
    </sitecore>
</configuration>
