<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <!--<pipelines>
            <httpRequestProcessed>
                <processor patch:after="*[@type='Sitecore.Analytics.Pipelines.HttpRequest.EndAnalytics, Sitecore.Analytics']" type="Sitecore.Feature.Accounts.Infrastructure.Pipelines.SecuredPage, Sitecore.Feature.Accounts"/>
            </httpRequestProcessed>
        </pipelines>-->
        <sites>
            <site name="website">
                <patch:attribute name="loginPage">/sitecore/content/Home/Login</patch:attribute>
            </site>
        </sites>

        <settings>
            <setting name="IdentityURL" value="https://dgaidentitysolutionqa.dga.org" />
            <setting name="ApiUrl" value="https://dgawebapiqa.dga.org/" />
            <setting name="ClientId" value="DGAWebSite_Cred" />
            <setting name="ClientSecret" value="@1$AZ6EJ1fX-4:1=jB9w{F.3}F52]=" />
            <setting name="Scope" value="dgawebsiteapi offline_access is_member_in_good_standing roles" />
        </settings>
        
    </sitecore>
</configuration>
