@using Sitecore.Feature.Accounts
@*@using Sitecore.Feature.Accounts.Services*@
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Configuration
@using System.Linq

<div id="logout">
    @using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post))
    {
        @Html.Sitecore().FormHandler("UserInfo", "Logout")
        <button type="submit">Logout</button>
    }
</div>

@*<div>
    @Html.Sitecore().Field("Title")
</div>*@
<div>
    @Html.Sitecore().Field("Text")
</div>
